---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

import whatsappIcon from "../assets/logos/whatsapp.svg"
import Seo from "./Seo.astro";
const { seoPageTitle, seoPageDescription}= Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Seo title={seoPageTitle} description={seoPageDescription}/>
	</head>
	<body class=" font-roboto">
		<Navbar/>
		<slot />
		<a class="fixed bottom-10 right-10" href={`https://wa.me/55${import.meta.env.WHATSAPP_NUMBER}`} target="_blank" rel="noopener noreferrer">
			<img class=" size-20" src={whatsappIcon.src} alt="whatsapp icon">
		</a>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
