---
const {description,title} = Astro.props
import thumb from '../../public/thumb.png'
---

<title>{title}</title>
<meta name="description" content={description}>

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content="https://brasilserv.com.br" />
<meta property="og:type" content="website" />
<meta property="og:image" content=`https://brasilserv.com.br/${thumb.src}` />

<meta name="twitter:card" content="/web-app-manifest-192x192.png" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content=`https://brasilserv.com.br/${thumb.src}` />